.notification-center-window {
	.notification-center-spacer {
		transition: all 1800ms cubic-bezier(.1, -0.00, .0, 1.49);
	}
	
	.notification-center-box {
		background-color: $darker-background;
		border-radius: 10px;
		padding: 2em;

		min-width: 310px;
		font-family: "Roboto";

		.notification-text {
			margin: .5em 0em;
			font-size: 22px;
			font-weight: bold;
		}
	
		.notification-scroller {
			min-height: 43em;
	
			.notification-history {
				.eon {
					font-size: 18px;
					font-weight: bold;
				}

				.notification {
					background-color: $background-secondary;

					.notification-title {
						background-color: $background-tertiary;
					}
				}
			}
		}

		.clear-all-btn {
			background-color: $background-tertiary;
			border-radius: 16px;
			padding: 1em;
			font-size: 14px;
			font-weight: bold;
		}
	}
}
