*
{
    font-family: MonteCarlo, "FuraCode Nerd Font", unifont, siji, "Unifont Upper", "artwiz cure", FontAwesome;
    font-size: 15px;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
}

window#waybar
{
    background: #0A0C10;
    color: #A2A9A1;
    padding: 0;
}

#cpu,
#memory,
#custom-launcher,
#custom-kde-workspaces,
#custom-dashboard-toggle
{
    background-color: #0F5C51;
    padding: 0 8px;
}

#pulseaudio
{
    padding-right: 12px;
}

#clock,
#paypal,
#pulseaudio
{

    margin-bottom: -4px;
}

#clock
{
    padding-left: 18px;
}

#cpu,
#memory
{
    margin: 0px -4px;
}

#custom-paypal
{
    padding-right: 150px;
}

#custom-right-arrow,
#custom-left-arrow
{
    color: #0F5C51;
    font-size: 21px;
}
