.dashboard-box {
	.wrapper {
		background-color: $background-primary;
		border-radius: 5px;
		margin-top: 1em;

		.text-header {
			color: $foreground-secondary;
			margin: 1em 0em 0em .9em;
		}

		.stats {
			padding: 1em 1.5em;

			.marine-elo {
				background-image: url("./assets/marine.png");
				background-size: contain;
				background-repeat: no-repeat;
			}

			.alien-elo {
				background-image: url("./assets/alien.png");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}
}
