.dashboard-box {
	.third-row {
		margin: 1em 0em 0em;

		.ram-block {
			margin-left: 0px;
			margin-right: .5em;

			.ram {
				background-color: $background-primary;
				border-radius: 5px;
				padding: 0 2.5em 1em;

				.ram-progress {
					margin-bottom: 3.8rem;
					background-color: $background-secondary;
					color: $javacafeBlue;

					.ram-icon {
						margin: .8em;
						font-size: 40px;
						font-family: "Material Icons";
						color: $javacafeBlue;
					}
				}
				.ram-usage {
					color: $foreground-secondary;
					margin-top: 1em;
					margin-left: -7.5rem;

				}
			}
		}

		.cpu-block {
			margin-left: 0px;
			margin-right: .5em;

			.cpu {
				background-color: $background-primary;
				border-radius: 5px;
				padding: 0 2.5em 1em;

				.cpu-progress {
					margin-bottom: 3.8rem;
					background-color: $background-secondary;
					color: $javacafeMagenta;

					.cpu-icon {
						margin: .8em;
						font-size: 40px;
						font-family: "Material Icons";
						color: $javacafeMagenta;
					}
				}
				.cpu-usage {
					color: $foreground-secondary;
					margin-top: 1em;
					margin-left: -7.5rem;

				}
			}
		}
	}
}
