//$darker-background: rgba(25,13,21,0.75);

$darker-background: #0A0C10;
$background-primary: #08090C;
$background-secondary: #101319;
$background-tertiary: #523649;

$foreground-primary: #A2A9A1;
$foreground-secondary: #354948;
$foreground-tertiary: #523649;

$red: #634D69;
$blue: #264D6E;
$blue-desaturated: #634D69;
$magenta: #8e1c52;
$green: #ae515f;
$yellow: #552F5F;
$accent: $green;

$javacafeMagenta: #523649;
$javacafeBlue: #3F3B56;
$javacafeCyan: #555397;
